@import 'variables';

html, body {
  font-size: 16px;
  margin: 0;
  font-family: AtkinsonHyperlegible, sans-serif;
  color: $font-color;
  background: $body-bg;
}

div, header { box-sizing: border-box; }

input, button { outline: none; }
fieldset { border: none; padding: 0; margin: 0; }
button { border: none; }

.page {
  margin: 0 0 $footer-height $sidebar-width; transition: all $transition-delay;

  @media (max-width: $mobile) {
    margin-left: 0;
  }

  &-container { position: relative; margin-top: 80px; padding-top: 1rem; }
}

.header {
  background-color: $header-background-color; position: fixed; top: 0; left: 0; padding: 1rem; height: 80px;
  width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between;
  border-bottom: 1px solid whitesmoke; transition: transform 0.3s;

  &-logout { position: absolute; right: 1rem; cursor: pointer; font-size: 0.8rem; color: $header-logout-font-color;
    & span { margin: 0 .5rem; }
  }

  &-hide { transform: translate3d(0, -100%, 0); }

  h1 { font-family: Prozak, sans-serif; font-weight: 700; font-size: 3em; }

  @media (max-width: $mobile) {
    padding: 1rem 0 1rem ($sidebar-toggle-width + 0.8rem);
  }
}

.main { position: relative; padding: 1rem; }

.footer {
  position: fixed; background-color: $footer-background-color; padding: 0.5rem; font-size: 0.8rem;
  border-top: 1px solid $footer-border-color; left: 0; right: 0; bottom: 0; z-index: 10;
}

.mock {
  &-page { height: 100%; display: flex; justify-content: center; align-items: center; }

  &-label { text-align: center; }

  &-container {
    display: flex; justify-content: center; align-content: center; width: 100%; height: $mock-container-height;
    flex-direction: column;
  }
}