version: '3.9'

services:

  ${short_branch}-${CI_PROJECT_NAME}:
    container_name: ${short_branch}-${CI_PROJECT_NAME}
    image: ${short_branch}-${CI_PROJECT_NAME}-${CI_COMMIT_SHORT_SHA}
    restart: on-failure
    ports:
      - 3000
    volumes:
      - ${short_branch}-${CI_PROJECT_NAME}-${CI_COMMIT_SHORT_SHA}:/app/
    networks:
      - artfora


networks:
  artfora:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.12.0/24

volumes:
 ${short_branch}-${CI_PROJECT_NAME}-${CI_COMMIT_SHORT_SHA}:
   external: true
