@import '../variables';

.add-product {
  &-ai-safe-checkboxes { margin-bottom: .7rem; }

  &-visibility-level { display: flex; flex-direction: column; gap: 4px; }

  textarea { resize: none; }

  .horizontal-separator {
    border: none;
    border-bottom: 1px solid #949495;
    margin-top: 20px
  }

  &-upload {
    font-family: AtkinsonHyperlegible, sans-serif; font-size: 16px; font-style: italic;

    &-add {
      display: flex; justify-content: center; align-items: center; text-align: center; height: 100px; border: 1px solid $border-color;
      position: relative; border-radius: 10px;

      & input{
        position: absolute; width: 100%; height: 100%; opacity: 0; cursor: pointer;
      }
    }

    &-images {
      margin-top: 10px; position: relative;margin-bottom: 1rem;
      &-draggable { display: grid; grid-template-columns: repeat(6, 1fr); row-gap: 10px; }

      &-item {
        width: 50px; height: 50px; border: 1px solid $border-color; border-radius: 5px;
        position: relative;

        & img { width: 100%; height: 100%; object-fit: contain; }

        & .minus-icon { position: absolute; width: 15px; height: 15px; background: $delete-image-icon-background;
          border-radius: 50%; top: -8px; right: -8px; fill: white; cursor: pointer;
        }
      }
    }
  }
  &-categories {
    margin-bottom: 1rem;
    &-sub {
      display: grid; grid-template-columns: repeat(2, 1fr); margin: 10px auto;
      &-checkbox {
        cursor: pointer; font-size: 18px;
      }
    }
  }

  .space-between-inputs{
    display: flex;
    justify-content: space-between;
    .add-custom-field {
      margin-right: 5px;
    }
  }
}
