@import '../variables';

.categories {
  display: flex; flex-direction: column; width: 100%; gap: 10px; padding: 1rem 0;
  &-body {
    display: flex;
    overflow-x: auto;
    @media (max-width: $tablet) {
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item:last-child {
      margin-right: 0px;
    }
    &-item {
      margin-right: 5px;
      text-decoration: none; background: $border-color; padding: 2px 10px; border-radius: 5px;
      color: $user-details-background-color; letter-spacing: 1px; white-space: nowrap;

      &-active { background: white; }

      &-parents {
        font-size: 18px;
        display: flex;
        .close-icon {
          margin: auto;
        }
      }
      &-children {
        font-size: 14px; cursor: pointer;

        & input { display: none;}
      }
    }
    &-item:hover {
      background: white;
    }
  }
}