@import '../variables';

.categories {
  display: flex; flex-direction: column; width: 100%; gap: 10px; margin-bottom: 10px;
  &-parent {
    display: flex; gap: 5px; overflow-x: scroll;
    &-item {
      text-decoration: none; background: $border-color; padding: 2px 10px; border-radius: 5px;
      color: $user-details-background-color; font-size: 18px; letter-spacing: 1px; white-space: nowrap;

      &-active { background: white; }
    }
  }
  &-children {
    display: flex; gap: 5px; overflow-x: scroll;
    &-item {
      text-decoration: none; background: $border-color; padding: 2px 10px; border-radius: 5px;
      color: $user-details-background-color; letter-spacing: 1px; cursor: pointer; white-space: nowrap; font-size: 14px;
      &-active {
        background: white;
      }
      & input {
        display: none;
      }
    }
  }
}