@import '../variables';

.header {
  background-color: $header-background-color; position: fixed; top: 0; left: 0; padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%; display: flex; flex-direction: column; align-items: center; transition: transform 0.4s; z-index: 1;

  &-top { display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%;
    height: 60px; margin-bottom: 0.5rem }

  &-logout { position: absolute; right: 1rem; cursor: pointer; font-size: 0.8rem; color: $header-logout-font-color;
    & span { margin: 0.5rem; }
  }

  &-hide { transform: translate3d(0, -100%, 0); }

  &-title { max-width: 400px; min-width: 200px; text-align: center; }

  h1 { font-family: Prozak, sans-serif; font-weight: 700; font-size: 3em; letter-spacing: 4px; margin: 0; }

  &-bottom-divider { width: 100%; height: 1px; border-bottom: 1px solid $border-color; }
}