@import '../variables';

.menu-dropdown {
  position: absolute; z-index: 2; width: 100%; height: 100%;
  &-item {
    display: flex; flex-direction: column; position: absolute; top: 70px; right: 0;
    background:$header-background-color; box-shadow: 0px 10px 13px 7px rgba(0, 0, 0, 0.2); border-radius: 15px; overflow: hidden;

    &-content {
      display: flex; flex-direction: column; width: 300px; position: relative;

      h1 {
        text-align: center; border-bottom: 1px solid $border-color; background: $user-details-background-color;
        border-radius: 15px 15px 0 0; font-size: 32px; padding: 7px 0;
      }

      ul {
        padding: 0; margin: 0;

        li {
          border-bottom: 1px solid $border-color; list-style-type: none; text-align: center;

          a { text-decoration: none; text-align: center; display: block; padding: 13px 0; color: $font-color; letter-spacing: 1px; }

          :hover { background: $selector-dropdown-shadow-color; transition: all $transition-delay ease; }

        }

        :nth-last-child(1) { border: none; }
      }

      svg {
        position: absolute; top: 10px; right: 10px; cursor: pointer;
        background: black; fill:white; border-radius: 50%; padding: 1px;
      }
    }
  }
}