@import '../variables';

.product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;

  &-images {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
      width: 80%;
    }

    @media (max-width: $mobile) {
      width: 100%;
    }

    & img {
      max-height: 100%;
      max-width: 100%;
    }

    &-next {
      position: absolute;
      right: 10px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background: black;
      display: flex;
      align-items: center;

      & .next-icon {
        fill: $border-color;
        position: relative;
        left: 12px;
      }
    }

    &-prev {
      position: absolute;
      left: 10px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background: black;
      display: flex;
      align-items: center;

      & .prev-icon {
        fill: $border-color;
        position: relative;
        left: 8px;
        transform: rotate(180deg);
      }
    }

    &-prev,
    &-next {
      transition: opacity 150ms;

      &:hover {
        opacity: .7
      }
    }
  }

  &-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 10px;
    z-index: 1;

    @media (max-width: $mobile) {
      right: 32px
    }

    & button {
      background: black;
      color: white;
      cursor: pointer;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transition: opacity $transition-delay ease;

      &:hover {
        opacity: .7;
      }
    }

    &-info {
      cursor: pointer;
      padding: 3px;
      border-radius: 50%;
      background-color: #000000;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;

      & .hide-icon {
        fill: white;
        width: 20px;
        height: 20px;
      }
    }

    &-close {
      cursor: pointer;
      padding: 3px;
      border-radius: 50%;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      fill: white;
    }

  }
}

.ai-safe-mode {
  display: flex;
  align-items: center;
  line-height: 40px;

  span {
    padding-left: 0.5rem;
  }

  .add-product-ai-safe-checkboxes {
    padding: 0px;
    margin: 0px;
  }
}

.is_sale_price_tag {
  display: flex;

}

.is_sale_switch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  outline: solid 1px #C1C1C1;
  height: 110.04px;
  margin-right: 16px;
  position: relative;

}

.switch-body {
  width: 32px;
  position: absolute;
  height: 32px;
  bottom: 0px;

  border: solid 1px #C1C1C1;
  border-radius: 50%;
  background-color: #C1C1C1;
  transition: all 0.5s;

  cursor: pointer;

}

.switch-top {
  width: 40px;
  border-radius: 50%;
  height: 55px;
  cursor: pointer;

}

.switch-bottom {
  width: 40px;
  border-radius: 50%;
  height: 55px;
  cursor: pointer;
}

.to-switch-bottom {
  top: 74px;
  left: 4px;
  right: 4px;

  bottom: 4px;
}

.to-switch-top {
  bottom: 74px;
  top: 4px;
  right: 4px;

  left: 4px;
}