@import '../variables';

.account-settings {
  &-header {
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid $border-color;
    border-radius: 15px 15px 0 0;
    background: $dark-bg;
    height: 100px;

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 3;
    }

    &-upload-background {
      font-size: 12px;
      height: 100%;
      overflow: hidden;
      max-width: 429px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      @media (max-width: $mobile) {
        max-width: 100%;
      }

      & input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      & img {
        width: 100%;
      }
    }

    &-upload-avatar {
      display: block;
      width: 70px;
      height: 70px;
      background: $dark-bg;
      border: 2px solid $border-color;
      border-radius: 50%;
      position: absolute;
      left: 10px;
      top: 60px;

      & img {
        width: 100%;
        height: 100%;
        overflow: clip;
        border-radius: 50%;
        position: absolute;
        top: 0;
      }

      & input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }



  }

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #252525;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    &-tab {
      font-size: 14px;
      padding-right: 1rem;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  &-form {
    margin-top: 35px;
  }

  &-visibility-level {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-divider {
    height: 1px;
    border-bottom: 1px solid $border-color;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &-plus-icon {
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: -45px;
    right: 10px;
    width: 10px;

    path {
      fill: white;
    }
  }

  &-minus-icon {
    height: 15px;
    cursor: pointer;

    path {
      fill: white;
    }
  }

  &-form-icons {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0px;
    width: 15px;
    height: 15px;
  }

  &-avatar-placeholder {
    width: 100%;
    height: 100%;
    position: relative;

  }

  &-avatar-placeholder-body {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-avatar-placeholder-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: 0.4;
    z-index: 10;
  }

}

.account-settings-form .addmore .add-custom-field {
  .form-control {
    max-width: 90%;
  }
}

.account-settings-form .custom-ui-selected+.add-custom-field input {
  max-width: 90%;
}

.addmore {
  position: relative;
}

.custom-ui-selected {
  margin-bottom: 1rem;
}

.connet-stripe {
  display: flex;
  padding-bottom: 1rem;

}