@import '../variables';

.users-page {
  display: flex; flex-direction: column; width: 100%; gap: 10px; margin-bottom: 10px;
  .users-list {
    padding: 1rem;
    table {
      thead {
        th {
          text-align: left;
        }
        th.centered-column {
          text-align: center;
        }
      }
      tbody {
        tr {
          td {
            text-align: left;
          }
          td.centered-column {
            text-align: center;
          }
        }
      }
    }
  }
}