@import '../variables';

.users-page {
  display: flex; flex-direction: column; width: 100%; gap: 10px; margin-bottom: 10px;
  .users-list {
    padding: 1rem;
    table {
      thead {
        th {
          text-align: left;
        }
        th.centered-column {
          text-align: center;
        }
      }
      tbody {
        tr {
          td {
            text-align: left;
            .toggle-button {
              width: 70px;
            }
            .toggle-button.no-button {
              color: #D5695C;
            }
            .toggle-button.yes-button {
              color: #3F3F3D;
            }
          }
          td.centered-column {
            text-align: center;
          }
        }
      }
    }
  }
}