@import '../variables';

$border-radius: 15px;

.ui-kit-box {
  background-color: $box-background-color; border: 1px solid $box-border-color; border-left: 0; border-right: 0;
  border-radius: $border-radius;

  &-title {
    margin-bottom: 0; padding: 1rem 1rem 0.5rem; background-color: $box-background-color;
    min-height: 1.5rem; border-radius: $border-radius;

    h5 {
      display: inline-block; float: left; margin: 0 0 0.5rem; padding: 0; text-overflow: ellipsis; font-size: 1rem;
      font-weight: normal;
    }
  }

  &-tools { float: right;
    &-link { display: inline-block; min-width: 1rem; margin-left: 0.5rem; cursor: pointer; }
  }
  &-content {
    padding: 15px 20px 20px 20px; background-color: $box-background-color;
    transition: all $transition-delay; box-sizing: border-box; border-radius: $border-radius;

    &-hidden { max-height: 0; overflow: hidden; padding-top: 0; padding-bottom: 0;}
  }

  &-footer { padding: 1rem; border-top: solid 1px $box-border-color;
    & .button { margin-left: 1rem; }
  }
}