@import '../variables';

.ui-kit-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  .links-modal {
    &-message {
      font-family: AtkinsonHyperlegible, sans-serif;
    }

    &-item {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 8px;
      margin: 7px 0;
      font-size: 16px;

      & .social-icon {
        width: 20px;
      }
    }
  }

  & .contact-modal {
    &-submit {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      &-title {
        font-style: italic
      }
    }
  }

  & .commission-modal {
    &-submit {
      width: 100%;
    }
  }

  &-content {
    z-index: 101;
    width: 350px;
    max-height: 100vh;
    overflow: auto;

    @media (max-width: $small) {
      width: 100%;
    }

    &-buttons {
      padding-top: 2rem;
    }

    &-links {
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 58px);
    }
  }

  &-content:has(.product-container) {
    width: 100%;
  }

  &-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, 0.9);
    z-index: 100;
  }

  &-buttons {
    align-self: end;
    margin-top: auto;
    display: flex;
    gap: 20px;

    & input {
      border: none;
      outline: none
    }
  }
}

@keyframes toShow {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.faq-modal {
  .faq-title {
    font-weight: bold;
  }

  .faq-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

}

.artfora-modal {
  .artfora-title {
    font-weight: bold;
  }

  .artfora-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

}

.ui-kit-cart-modal-content {
  overflow-y: auto;


}

.ui-kit-checkout-modal-content {
  overflow-y: auto;

  .checkout-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;

    .checkout-section-edit-icon {
      width: 24px;
      height: 24px;
      color: white;
      cursor: pointer;

      &:hover {
        color: #949495
      }
    }

    .checkout-section-header {

      padding-bottom: 0.8rem;
      display: flex;
      justify-content: space-between;
    }

    .checkout-section-title {
      font-size: 22px;
      color: white;
      font-weight: bold;
    }

    .checkout-list {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.4rem;
      font-size: 16px;
    }
  }

  .checkout-footer {
    flex-direction: column;

    align-items: center;

    .checkout-footer-title {
      font-size: 20px;
      color: white;
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }


}

.modal-body {
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}